@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*, *:after, *:before {
  box-sizing: border-box;
}

html,
body,
h1,
p {
  margin: 0;
}


button {
	border:none;
	outline:none;
	cursor: pointer;
}


button:focus {
	border-color: #666;
}

input, button, select, textarea {
	font-family: inherit;
	padding: 0.4em;
	box-sizing: border-box;
	border-radius: 2px;
  
}
input{
	width: 17rem;
	padding-left: 2rem;
	text-align: right;
}

label{
	display: block;
}

ul{
	list-style: none;
 }



html:focus-within{
	scroll-behavior: smooth;
}

body {
	text-rendering: optimizeSpeed;

}

img,
picture,
svg{
display: block;
width: 100%;
}


[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 100%;
    background-color: inherit;
    background-size: contain;
    border: 0;
    margin: 0;
    outline: 0;
    position: absolute;
    top: auto;
    left: 0;
    z-index: 0;
}

:root{


	--clr-primary-100: hsl(172, 67%, 45%);
	--clr-primary-200: hsl(173deg 61% 77%);
    --clr-primary-300: hsl(1deg 77% 55%);

	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-200: hsl(189, 41%, 97%);
	--clr-neutral-300: hsl(185, 41%, 84%);
	--clr-neutral-400: hsl(184, 14%, 56%);
	--clr-neutral-500: hsl(186, 14%, 43%);
	--clr-neutral-800: hsl(183, 100%, 15%);
	
	--fs-700: 1.75rem;
    --fs-400: 1.1rem;
    --fs-300: 0.75rem;
	--fs-200: 0.55rem;
	
	--fw-400:400;
    --fw-700:700;
	
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Space Mono', monospace;
  background-color: var(--clr-neutral-300);
  position: relative;
  padding: 1rem;
}

main{
	max-width: 45rem;
	margin: 0 auto;
}

input{
	text-align: right;
	color:  var(--clr-neutral-800);
	font-weight: var(--fw-700);
	font-size: var(--fs-400);
	padding: 0;
	border: none;
	width: 90%;
	background-color: transparent;
	outline: none;
}

.input-container{

	padding: 0.2rem;
	border-radius: 0.2rem;
	border: solid 2px transparent;
	padding-left: 10px;
}


.input-container-error{
	border: solid 2px var(--clr-primary-300)
}

.input-container:focus-within{
	border: solid 2px var(--clr-primary-100);
	background-color: var(--clr-neutral-200);
}

.radiobtn [type=radio] + label { 
	width: 5.5rem;
	font-size: var(--fs-400);
	font-weight: var(--fw-700);
	border-radius: 0.2rem;
	background-color: var(--clr-neutral-800);
	color: var(--clr-neutral-100);
	padding: 0.4em;
	box-sizing: border-box;
	text-align: center	;
    cursor: pointer;
}

.radiobtn [type=radio] + label:hover {
    background-color: var(--clr-neutral-300);
    color: var(--clr-neutral-900);
}
.radiobtn [type=radio]:checked + label{
	background-color: var(--clr-primary-100);
	color: var(--clr-neutral-100);
}


button{
	width: 5.5rem;
	font-size: var(--fs-400);
	font-weight: var(--fw-700);
	border-radius: 0.2rem;
	background-color: var(--clr-neutral-800);
	color: var(--clr-neutral-100);
}

button[data-type="reset"]{
color: var(--clr-neutral-800);
}

button[data-type="reset"]:hover{
	background-color: var(--clr-primary-200);
	color: var(--clr-neutral-800);
}

button[data-type="invalid"]{
	color: hsl(184deg 100% 19%);
	background-color: hsl(183deg 79% 24%);
	cursor: default;
	}
	

.btns{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.error{
	color: var(--clr-primary-300)
}

::placeholder {
	color: var(--clr-neutral-400);
  }


/* compostion */
 
.flow > *+*{
	margin:  1.8rem 0 1.8rem 0;
	}
.flex-grow{
	flex-grow: 1;
}

.display-inline{
	display: inline-block;
}

.dflex{
	display: flex;
}

.dflex-column{
	display: flex;
	flex-direction: column;
}

.width-100{
	width: 100%;
}

.flex-wrap{
	flex-wrap: wrap;
}

.flex-row{
	display: flex;
	gap:2rem ;
  }

  .gap{
	gap: 0.5rem;
  }

  .gap-2{
	gap: 1rem;
  }
  
  .align-item-center{
  align-items: center;  
  }
  
  .jc-space-between{
	justify-content: space-between;
}
  .justify-content-center{
	justify-content: center;
  }

  .margin-auto{
	margin: 0 auto;
  }

  /* Utilities */
   
  .text-primary-100
  {
	color: var(--clr-primary-100);
  }

    .text-neutral-100{
	color: var(--clr-neutral-100)
	}
	
    .text-neutral-400{
		color: var(--clr-neutral-400)
	}
	 
	.text-neutral-500
	{
		color: var(--clr-neutral-500)
	}

	.text-neutral-800
	{
		color: var(--clr-neutral-800)
	}
	
	.bg-primary-100{
	  background-color: var(--clr-primary-100);
	}
	
	.bg-neutral-100{
	  background-color: var(--clr-neutral-100);
	}
	
	.bg-neutral-200{
		background-color: var(--clr-neutral-200);
	  }

	  .bg-neutral-300{
		background-color: var(--clr-neutral-300);
	  }

	  .bg-neutral-800{
		background-color: var(--clr-neutral-800);
	  }

	.padding-48{
	  padding: 3rem;
	}
	
	.padding-24{
	  padding: 1.8rem;
	}
	
    .line-height{
		line-height: 0.8;
	}

	.margin-b-1{
		margin-bottom: 0.3rem;
	}
    
	.margin-b-2{
		margin-bottom: 3rem;
	}

	.br-0{
		border-radius: 0.8rem;
	}

    .br-1{
		border-radius: 1rem;
	  }
	  
	  .br-2{
		border-radius: 1.5rem;
	  }

	  .font-size-200{
		font-size: var(--fs-200);
	  }
	
	.font-size-300{
	  font-size: var(--fs-300);
	}
	
	.font-size-400{
	  font-size: var(--fs-700);
	}
	
	.font-size-700{
	  font-size: var(--fs-700);
	}
	
	.fw-bold{
	  font-weight: var(--fw-400);
	}
	
	.fw-extra-bold{
	  font-weight: var(--fw-700);
	}

	@media (max-width:520px) {
	 .caluclator{
		display: flex;
		flex-direction: column;

	 }
	 main{
		max-width: 22rem;
	 }

	 .result{
		gap: 1rem;
	 }
		}